
.background-color{
    background-color: #0080004d;
}

.small-text {
    font-size: 0.85rem;
}

.medium-text {
    font-size: 1rem;
}

.large-text {
    font-size: 1.15rem;
}

.title-card {
    padding: 2rem;
}
.card1{
    margin-bottom: 10px;
    height: 80%;
}
.card2{
    margin-top: 30px;
}